@page "/"
@using Configs

@inject AppSettings Settings

<PageTitle>Home</PageTitle>

<h1>APIM as a Sidekick</h1>

<div class="card">
  <h2 class="card-header">Demo #1. Decoupling front-end from back-end</h2>
  <div class="card-body">
    <a class="btn btn-primary" href="/geolocation">Front-end: Blazor WASM</a>
    <a class="btn btn-success" href="@mapsApi" target="_blank">Back-end: APIM</a>
  </div>
</div>

<div class="card">
  <h2 class="card-header">Demo #2. Eash OAuth without coding</h2>
  <div class="card-body">
    <a class="btn btn-primary" href="/kakaoprofile">Front-end: Blazor WASM</a>
    <a class="btn btn-success" href="@apimBackend" target="_blank">Back-end: APIM</a>
  </div>
</div>

<div class="card">
  <h2 class="card-header">Demo #3. Building BFF without coding</h2>
  <div class="card-body">
    <a class="btn btn-primary" href="https://make.powerapps.com" target="_blank">Front-end: Power Apps</a>
    <a class="btn btn-success" href="@apimBackend" target="_blank">Back-end: APIM</a>
  </div>
</div>

@code {
    private string? mapsApi;
    private string? apimBackend;

    protected override void OnInitialized()
    {
        this.mapsApi = $"https://apim-sidekick.azure-api.net/maps/swagger/ui";
        this.apimBackend = "https://aka.ms/publicportal";
    }
}

