@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="top-row px-4 text-center">
            <h1>
                <a href="/">APIM as a Sidekick Demo</a> | <a href="https://github.com/devkimchi/apim-sidekick" target="_blank"><img height="48" width="48" src="https://cdn.simpleicons.org/github/181717" /></a>
            </h1>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
