name: 'Azure Dev'

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main
  workflow_dispatch:

permissions: write-all

jobs:
  call_build_test_upload:
    uses: ./.github/workflows/workflow_call_build_test_upload.yml
    with:
      artifact_name: 'app'

  call_deploy_fncapp:
    uses: ./.github/workflows/workflow_call_deploy_fncapp.yml
    needs:
    - call_build_test_upload
    secrets: inherit
    with:
      artifact_name: 'app'

  call_deploy_sttapp:
    uses: ./.github/workflows/workflow_call_deploy_sttapp.yml
    needs:
    - call_build_test_upload
    secrets: inherit
    with:
      artifact_name: 'app'
